
label.radio{
	padding-right: 12px;
	padding-left: 12px;
}


div.btnSearch{
	text-align: right;
	padding-top: 20px;
}

div.input-filed{
	text-align: left;
}

tbody > tr{
	cursor: pointer;
}

tbody > tr:hover{
	background-color: #c5cae9 ;
}

.modal-content{
	text-align: justify;
	
}
#modalUser{
	z-index: 1;
}